/*===============
New Course Card
=================*/
.card-img{
    display: block;
    max-width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 15px;
    background-image: linear-gradient(62deg, #E0C3FC 0%, #8EC5FC  100%);
    border: none;
}
.img-caption:after{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.1) 100%) repeat 0 0;
}
.img-caption:hover{
    transform: none;
    box-shadow: inherit;
}
.new-icon:hover {
    transition: 0.05s ease-in-out;
    transform: scale(1.5);
}


.course-card {
    position: relative;
    max-width: 520px;
    width: 400px;
    height: 250px;
    margin-bottom: 5rem;
    padding: 1.5rem;
    border-radius: 10px;
    line-height: 200%;
}

.card-title {
    font-size: 28px;
}

.card-caption {
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    color: #fff;
    left: 0;
    top: 10%;
    padding: 1em;
    font-weight: 700;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img-caption {
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #fff;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, .4);
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.img-caption:hover {
    box-shadow: 0.3rem 0.3rem 0.75rem rgba(0, 0, 0, .15);
    /*transform: scale(1.1, 1.1);*/
    /*-webkit-transform: scale(1.1, 1.1);*/
}
.img-caption .card-img {
    display: block;
    max-width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 15px;
    border: none;
}

.img-caption:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.7) 100%) repeat 0 0;
    z-index: 1;
    border-radius: 15px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-detail {
    position: absolute;
    bottom: 10%;
}
.go-icon, .new-icon {
    position: absolute;
    bottom: 15%;
    right: 10%;
}
.go-icon{
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-decoration: none;
    color: inherit;
    padding: 0.4rem 0;
}
.go-icon:hover{
    animation: bounceleft 0.3s alternate ease infinite;
}
@keyframes bounceleft {
    from { transform: translateX(-3px); }
    to   { transform: translateX(0); }
}
@-webkit-keyframes bounceleft {
    from { -webkit-transform: translateX(-3px); }
    to   { -webkit-transform: translateX(0); }
}


a, a:hover{
    color: inherit;
}
.delete-icon{
    position: absolute;
    top: 1%;
    right: -3%;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
}
/*.delete-icon:hover{*/
/*    transform: scale(1.5);*/
/*    transition: 0.1s ease-in-out;*/
/*}*/
.card-caption input,
.card-caption input:focus{
    display: block;
    position: absolute;
    width: 80%;
    background: transparent;
    color: inherit;
    font: inherit;
    padding: 0 0.2rem;
    height: auto;
    border: 0;
    outline: 0;
    border-bottom: solid 2px white;
    border-radius: 0;
    padding: 0;
}