.curr-enroll {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.curr-enroll .row {
    justify-content: left;
    margin-left: auto;
}

/*===============
New Course Card
=================*/
.new-course .card-img{
    display: block;
    max-width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 15px;
    background-image: linear-gradient(62deg, #E0C3FC 0%, #8EC5FC  100%);
    border: none;
}
.new-course .img-caption:after{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.1) 100%) repeat 0 0;
}
.new-course .img-caption:hover{
    transform: none;
    box-shadow: inherit;
}
.new-icon:hover {
    transition: 0.05s ease-in-out;
    transform: scale(1.5);
}
.new-course .card-title input{
    border: 0;
    outline: 0;
    border-bottom: solid 2px white;
    border-radius: 0;
}
.new-course .card-title input:focus{
}


.hidden-btn {
    color: transparent;
}
