/*=================
Main Dashboard
=================*/
.dashboard{
    margin: 1rem auto;
    display: block;
    justify-content: center;
    align-items: center;
}
.dashboard h1{
    text-align: center;
    margin-bottom: 2rem;
}
.new-course-title-form {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.new-course-title-form input{
    margin-right: 1rem;
    width: inherit;
}

/*====================
Enrollment Section
=====================*/
.enroll-card {
    padding: 2.5rem 2rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, .1);
    border-radius: 15px;
    background-color: rgba(255,255,255,0.05);
}
