.question-card {
    margin: 1.5rem auto;
    padding: 2rem;
    border: 2px solid white;
    max-width: 700px;
    width: auto;
}
.question-header {
    margin-bottom: 1rem;
}
.question-header .question-check-mark {
    color: var(--color-light);
}
.question-grade-icon {
    color: inherit;
    margin-left: auto;
}
.question-choices-group {
    margin-bottom: 1rem;
}
.question-choices-group-item {
    padding: 0.3rem 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    outline: 1px solid white;
}
.question-card p {
    margin: 0;
}
.question-choices-group-item label {
    margin: 0;
}
.selected-wrong {
    border: 2px solid white;
}
.selected-right {
    background-color: var(--color-light);
    font-weight: 600;
    border: 2px solid var(--color-light);
}